data/*
src/__pycache__/*
src/preprocessing/__pycache__/*
src/training/__pycache__/*
src/question_handling/__pycache__/*
inspect_data.ipynb
archive/*
inspect_NER.ipynb
inspect_data.ipynb
generate_aux_data.ipynb
